:root {
    --color-primary: #212F54;
    --color-background: #F3F0ED;
    --color-accent: #00FFAE;
    --color-neutral: #6F7689;

    /* Additional derived tokens */
    --color-primary-light: #334979;
    --color-primary-dark: #18223D;

    --color-neutral-light: #A3A9BB;
    --color-neutral-dark: #4F5565;
}